<!DOCTYPE html>
<html>
<head><title>DreamLedger</title></head>
<body>
  <h1>DreamLedger</h1>
  <p>The economic operating system for communities.</p>
  <ul>
    <li><a href="/mtg"> MTG Commander Decks</a></li>
    <li> More tenants coming</li>
  </ul>
</body>
</html>