{
  "openapi": "3.0.3",
  "info": {
    "title": "DreamLedger B2B Catalog API",
    "version": "1.0.0",
    "description": "Machine-readable catalog for partners and agents. Settlement authority is Stripe live payment evidence. DreamLedger platform success fee on listed public offers is 0 bps."
  },
  "servers": [{ "url": "https://dreamledger.org" }],
  "paths": {
    "/api/offers": {
      "get": {
        "summary": "List checkout-ready offers",
        "operationId": "listOffers",
        "responses": {
          "200": {
            "description": "Offer collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Offer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "summary": "List products",
        "operationId": "listProducts",
        "responses": {
          "200": { "description": "Product collection" }
        }
      }
    },
    "/agent-commerce.json": {
      "get": {
        "summary": "Commerce contract (fees, loop, endpoints)",
        "operationId": "getCommerceContract",
        "responses": { "200": { "description": "Contract document" } }
      }
    },
    "/agent.json": {
      "get": {
        "summary": "Agent interface document",
        "operationId": "getAgentInterface",
        "responses": { "200": { "description": "Agent interface" } }
      }
    },
    "/buy/{product_slug}": {
      "get": {
        "summary": "Human or agent checkout router",
        "operationId": "buyProduct",
        "parameters": [
          {
            "name": "product_slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "302": { "description": "Redirect to Stripe Payment Link or product flow" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Offer": {
        "type": "object",
        "required": ["product_id", "name", "price_nzd", "currency", "checkout_url"],
        "properties": {
          "product_id": { "type": "string" },
          "sku": { "type": "string" },
          "name": { "type": "string" },
          "price_nzd": { "type": "number" },
          "currency": { "type": "string", "enum": ["NZD"] },
          "checkout_url": { "type": "string", "format": "uri" },
          "checkout_available": { "type": "boolean" },
          "fulfillment": { "type": "string" }
        }
      }
    }
  },
  "x-dreamledger": {
    "fee_policy": {
      "platform_success_fee_bps": 0,
      "listing_fee_nzd": 0
    },
    "settlement_authority": "stripe_live",
    "verified_external_revenue_nzd": 0,
    "patterns_applied": [
      "catalog_read_api",
      "stable_product_schema",
      "checkout_url_handoff_not_parallel_cart",
      "openapi_for_b2b_integrators"
    ]
  }
}
