{"openapi":"3.0.3","info":{"title":"DreamLedger B2B Catalog API","version":"1.1.0","description":"Machine-readable B2B marketplace for partners and agents. Settlement authority is Stripe live payment evidence."},"servers":[{"url":"https://dreamledger.org"}],"paths":{"/api/b2b/marketplace":{"get":{"summary":"Get live B2B marketplace snapshot","operationId":"getMarketplaceSnapshot","responses":{"200":{"description":"Live marketplace catalog, opportunity and truth snapshot"}}}},"/api/offers":{"get":{"summary":"List checkout-ready offers","operationId":"listOffers","responses":{"200":{"description":"Offer collection"}}}},"/api/products":{"get":{"summary":"List products","operationId":"listProducts","responses":{"200":{"description":"Product collection"}}}},"/agent-commerce.json":{"get":{"summary":"Commerce contract","operationId":"getCommerceContract","responses":{"200":{"description":"Commerce contract"}}}},"/agent.json":{"get":{"summary":"Agent interface","operationId":"getAgentInterface","responses":{"200":{"description":"Agent interface"}}}},"/buy/{product_slug}":{"get":{"summary":"Human or agent checkout router","operationId":"buyProduct","parameters":[{"name":"product_slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"302":{"description":"Redirect to checkout"}}}}},"components":{"schemas":{"Offer":{"type":"object","properties":{"product_id":{"type":"string"},"sku":{"type":"string"},"name":{"type":"string"},"price_nzd":{"type":"number"},"currency":{"type":"string","enum":["NZD"]},"checkout_url":{"type":"string","format":"uri"},"checkout_available":{"type":"boolean"},"fulfillment":{"type":"string"}}}}},"x-dreamledger":{"fee_policy":{"platform_success_fee_bps":0,"listing_fee_nzd":0},"settlement_authority":"stripe_live","verified_external_revenue_nzd":0,"patterns_applied":["catalog_read_api","live_marketplace_snapshot","stable_product_schema","checkout_url_handoff","openapi_for_b2b_integrators"]}}